* {
  box-sizing: border-box;
}
:root {
  --radius: 8px;
  --primary-color: #ffffff;
  --secondary-color: #f7f7fc;
  --text-color: #11142d;
  --img-color: #e2e2ea;
  --border-color: #e1e1e1;
  --icon-color: #9a9ab0;
  --dashbord-color: #5541d7;
  --border-active-color: #9388d9d1;
  --blue-color: #2d96ee;
  --orange-color: #ee952d;
  --green-color: #3caa91;
  --gray-color: #92929d;
}
body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  background-color: var(--secondary-color);
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 1px solid var(--border-active-color);
  border-color: var(--border-active-color);
}
/* Start Content */
.content {
  margin-left: 262px;
}
@media (max-width: 768px) {
  .content {
    margin-left: 75px;
    margin-right: 15px;
  }
}
@media (max-width: 320px) {
  .content {
    margin-left: 69px;
  }
}
/* End Content */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}
tr {
  border-bottom: 1px solid var(--border-color);
}
th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: var(--secondary-color);
}
td:nth-child(5) {
  width: 50%;
}
